<div class="max-w-7xl mx-auto">
    <div class="text-center mt-8">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [formControl]="date"
          [matDatepicker]="picker"
          [min]="minDate"
          [max]="maxDate"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-error *ngIf="!date.valid">Invalid date</mat-error>
    </div>

    @if (!errorMessage) {
        <div class="bg-white px-4 py-5 divide-y">
            @for (picture of roverPictures; track $index) {
                <div class="space-x-3 my-8">
                    <div class="min-w-0 flex-1">
                        <p class="text-xl font-semibold text-gray-900 space-x-3">
                            <span>{{ picture?.camera.full_name }}</span>
                            <span class="text-sm text-gray-500">{{ picture?.rover.name }}</span>
                        </p>
                        <div class="opacity-75">
                            <p>Earth Date: {{ picture?.earth_date }}</p>
                        </div>
                        <div class="opacity-75">
                            <p>Max. Date: {{ picture?.rover.max_date }}</p>
                        </div>
                        <div class="opacity-75">
                            <p>Status: {{ picture?.rover.status }}</p>
                        </div>
                    </div>
            
                    <div class="mt-8">
                        @if (picture?.img_src) {
                            <img [src]="picture.img_src" alt="" class="w-full h-full object-cover xl:rounded-3xl">
                        }
                    </div>
                </div>
            }
        </div>
    }
    @if (errorMessage) {
        <div class="text-red-500 text-center mt-8">{{ errorMessage }}</div>
    }
</div>